//
//  Secrets.xcconfig
//  REST_TODO
//
//  Created by 준우의 MacBook 16 on 6/20/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// Scheme : HTTP 주소 스키마
SCHEME = https:%2F%2F

/// Host: HTTP 주소 HOST
HOST = phplaravel-574671-2962113.cloudwaysapps.com

/// API 기본 경로
PATH = /api/v2/todos

/// API 검색 경로
SEARCH_PATH = /api/v2/todos/search

/// API 데이터 추가 경로(JSON)
POST_PATH = /api/v2/todos-json

/// HTTP ACCEPT 헤더(KEY)
ACCEPT = accept

/// HTTP ContentType 헤더(KEY)
CONTENT_TYPE = Content-Type

/// HTTP 헤더(VALUE)
APPLICATION_JSON = application/json

/// HTTP multipartFromData 헤더(VALUE)
MULTIPART_FROM_DATA = multipart/form-data

/// HTTP 헤더(urlencoded) : VALUE
APPLICATION_X_WWW_FORM_URLENCODED = application/x-www-form-urlencoded

/// HTTP 헤더(토큰 KEY)
X_CSRF_TOKEN = X-CSRF-TOKEN

/// HTTP 헤더(토큰 VALUE)
TOKEN = q4PSs9s42v2gUQlUCIfrjs0U2TlhgiTG6mF5iXxf
