//
//  Secrets.Example.xcconfig
//  REST_TODO
//
//  Created by 준우의 MacBook 16 on 6/21/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// Scheme : HTTP 주소 스키마
SCHEME = "여기에 HTTP 헤더 스키마를 입력하세요."

/// Host: HTTP 주소 HOST
HOST = "여기에 HTTP 주소 HOST를 입력하세요."

/// API 기본 경로
PATH = "여기에 API 기본 경로를 입력하세요."

/// API 검색 경로
SEARCH_PATH = "여기에 API 검색 경로를 입력하세요."

/// API 데이터 추가 경로(JSON)
POST_PATH = "여기에 API 데이터 추가 경로(JSON)를 입력하세요."

/// HTTP ACCEPT 헤더(KEY)
ACCEPT = "여기에 HTTP ACCEPT 헤더(KEY)를 입력하세요."

/// HTTP ContentType 헤더(KEY)
CONTENT_TYPE = "여기에 HTTP ContentType 헤더(KEY)를 입력하세요."

/// HTTP 헤더(VALUE)
APPLICATION_JSON = "여기에 HTTP ContentType 헤더(KEY)를 입력하세요."

/// HTTP multipartFromData 헤더(VALUE)
MULTIPART_FROM_DATA = "여기에 HTTP multipartFromData 헤더(VALUE)를 입력하세요."

/// HTTP 헤더(urlencoded) : VALUE
APPLICATION_X_WWW_FORM_URLENCODED = "여기에HTTP 헤더(urlencoded)를 입력하세요."

/// HTTP 헤더(토큰 KEY)
X_CSRF_TOKEN = "여기에 HTTP 헤더(토큰 KEY)를 입력하세요."

/// HTTP 헤더(토큰 VALUE)
TOKEN = "여기에 HTTP 헤더(토큰 VALUE)를 입력하세요."
